<nav class="navbar navbar-expand-lg bg-dark navbar-dark" style="position: sticky; padding: 25px;" id="navbar" th:fragment="header">
    <div class="container-fluid bg-dark">
        <div class="navbar-header bg-dark">
            <a class="navbar-brand bg-dark" href="/">Reto 3</a>
        </div>
        <ul class="navbar-nav bg-dark">
            <li class="nav-item bg-dark">
                <a href="#" class="nav-link bg-dark">Users</a>
            </li>
            <li class="nav-items bg-dark">
                <a href="/farms" class="nav-link bg-dark">Farms</a>
            </li>
            <li class="nav-items bg-dark">
                <a href="#" class="nav-link bg-dark">Messsages</a>
            </li>
        </ul>
    </div>
</nav>