<div class="container" id="homePage" th:fragment="home">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="col-lg-12 col-md-12 mb-4 homeCard">
                <div class="card-header-first rounded pb-5">
                    <h2 class="card-header-title text-white pt-3 text-center">Reto 3</h2>
                </div>
                <div class="card-body text-center" style="padding: 0px 15px;">
                    <div class="bg-white content-card">
                        <h5 class="card-title bg-white">Members</h5>
                        <ul class="card-text bg-white list-group list-group-flush">
                            <li class="list-group-item">Jorge Alexander Gomez Sanchez</li>
                            <li class="list-group-item">Luis Eduardo Estupiñan Sanchez</li>
                            <li class="list-group-item">Jorge Alejandro Martinez Pinzon</li>
                            <li class="list-group-item">Luis Fernando Casas Romero</li>
                            <li class="list-group-item">Jose Sebastian Vera Galeano</li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer text-center bg-dark" style="margin: 0px 15px;">
                    <a href="/farms" class="btn btn-secondary">Farms</a>
                    <a href="#" class="btn btn-secondary">Messages</a>
                    <a href="#" class="btn btn-secondary">Users</a>
                </div>
            </div>
        </div>
    </div>
</div>