<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title th:text="${title}" />
</head>


<body class="row justify-content-center">
    <nav th:replace=fragments/header.html::header></nav>
    <div class="container" id="farmsTable">
        <div class="row justify-content-center">
            <div class="col-lg-10 contentTable">
                <table class="table table-striped table-light">
                    <thead class="table-dark">
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Extension</th>
                        <th scope="col">Description</th>
                        <th scope="col">Category</th>
                    </thead>
                    <tbody id="farmsRows">
                    </tbody>
                    <tfoot>
                        <td colspan="6" class="text-center"><a class="btn btn-secondary btn-sm" id="sumbitFarm">Add</a></td>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="position-absolute zindex-fixed" id="inputContainer" style="display: none;">
        <div class="container position-absolute start-50 translate-middle bg-transparent" style="top: 120px;bottom: 0px;">
            <div class="row justify-content-center bg-transparent">
                <div class="col-xl-6 col-sm-8 mb-5 bg-transparent">
                    <div class="bg-white rounded shadow-sm py-5 px-4" id='inputs'>
                        <h5 class="mb-2 text-center">Insert Data</h5>
                        <div class="input-group mb-3" id="idInputG">
                            <span class="input-group-text">ID</span>
                            <input type="number" class="form-control" id="idInput" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Name</span>
                            <input type="text" class="form-control" id="nameInput">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Address</span>
                            <input type="text" class="form-control" id="addressInput">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Extencion</span>
                            <input type="number" class="form-control" id="exensionInput">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Description</span>
                            <input type="text" class="form-control" id="descriptionInput">
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="catSelect">Category</label>
                            <select class="form-select" id="catSelect"></select>
                        </div>
                        <div class="d-flex justify-content-evenly bg-transparent" id='#userController'>
                            <a href="#" class="btn btn-secondary" id="uploadFram">Submit</a>
                            <a href="#" class="btn btn-secondary" id="removeFram">Delete</a>
                            <a href="#" class="btn btn-secondary" id="addFarm" style="display: none;">Add</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script th:src="@{/js/events.js}"></script>
    <script th:src="@{/js/apiConsumers/farms.js}"></script>
</body>

</html>